h1 {
    background-image: url('../images/logo-rb.svg');
    background-position: -4px 0px; 
    background-size: 40px 40px;
    background-repeat: no-repeat;
    text-indent: 30px;
}

div.content .section                 { width:50%;  font-size: 60%; line-height: 0.4em; color: #ddd; }
div.content .section-content         { margin: 20px 0;  background: #333; }
div.content .section img             { max-width: 100%; cursor: pointer;  }
div.content .section .name           { float: left; }
div.content .sectionson .description    { clear: both; padding-top: 10px; font-size: 90%; }
div.content .section h2              { color : #ddd; padding: 20px 10px 16px 10px;  }
div.content .section h3              { color : #bbb; font-size: 80%; }
div.content .section a               { color: #ccc; margin: 0; padding: 0; cursor: pointer; display:block; }

@media screen and (max-width: 640px) {
    div.content .section                 { width:100%;}
    div.content .section-content         { min-height: 0;  }
    div.content .section .name           { float: none; display: block; clear: both; }
    
    h1 {
        background-size: 32px 32px;
        text-indent: 26px;
    }
}

